/* lol */
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.theme-showcase {
	margin-top: 10px;
}
.navbarCustom {
	background-color: white !important;
	border-bottom: 1px black solid;
}
.navbar-nav > li {
	//border-right: 1px black solid;
}
.navbar-nav > li:nth-child(1){
	//border-left: 1px black solid;
}
#edition {
	font-size: 54px;
	color: #800000;
}
.chosen-container {
	width : 100% !important;
}